<!-- <div class="container" id="contactDiv">
    <div class="row">
        <div class="col-12">
            <div class="section-heading text-center">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="map1" class="map"></div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">Our Office</div>
                    <div class="panel-body text-center">
                        <h4>Address</h4>
                        <div>
                        2217 Washington Blvd<br />
                        Washington DC<br />
                        #(703) 1234 1234<br />
                        service@company.com<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


